<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="JFrog_Mercury_test" value="https://torresmba.jfrog.io/artifactory/api/nuget/v3/package-mercury-nuget" />
  </packageSources>

  <packageSourceCredentials>
    <JFrog_Mercury>
      <add key="Username" value="brian.torres@idmtechnology.com.pe" />
      <add key="ClearTextPassword" value="%JFrog_API_KEY_MODIFY%" />
    </JFrog_Mercury>
  </packageSourceCredentials>
</configuration>